    Business Name: <%= business.name %><br>
    City: <%=  business.location.city%><br>
    <span style="color: blue; font-size: 24px;" ng-click="businessDisplay(<%=  @businesses.index(business) %>)">Link</span>