<%= render partial: "googlemap" %>
<div style="height: 20px;"></div>
<div class="container">
  <div class="row">
    <%= render partial: "filter" %>
  </div>
</div>
<div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-6" style="border: 1px solid black;">
        <div class="resultdisplay">
          <ul>
             <%= render partial: "business" %>
          </ul>
        </div>
    </div>
    <div class="col-lg-6" style="border: 1px solid black;">
      <div style="height: 600px; width: 20px">
      <%= render partial: "display_details"  %>
      </div>       
    </div>
  </div>
</div>


